body {
    font-size: 12px;
}

.header {
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    padding:10px 40px;
}

.header .logo {
    font-size: 24px;
    color: #f9FAF8;
}

.links {
    display: flex;
    gap: 20px;
}

.container_one {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 30px;
}

.one_left {
    flex:1;
}

.main {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 800;
}
.one_right {
    display: flex;
    flex:1;
    justify-content: center;
}

button {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 5px;
    font-weight:bold;
    padding: 4px 10px;
    margin-top: 5px;
    border-style: solid;
    border-color: #E5E7EB;
}

.container_two {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 100px;
    gap: 30px;
}

.random {
    font-size: 30px;
    font-weight: bold;
}

.texts {
    display: flex;
    text-align: center;
    gap: 20px;
}

.container_two img {
    border: 2px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 1em;
    max-width: 100%;
}

.container_three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 40px 100px;
    gap: 15px;
}

.quote {
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
}

.author {
    display:flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 800;
}

.container_four {
    background-color: #3882F6;
    color:#E5E7EB;
    display:flex;
    margin: 50px 150px;
    padding: 20px;
    justify-content: space-between;
    border-radius: .5em;
}

.action {
    font-weight: 800;
    font-size: 14px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
}